#afui .panel{padding:0}
#afui .header h1{
  height:53px;
  padding: 14px 0;
}
#afui .header{
  height:53px;
  border-bottom:none;
  background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#353535), to(#656565));
  color:#ccc;
  font-family:Microsoft YaHei;
  font-weight: 700;
  font-size: 36px;  
}
#afui .footer{
  height:54px;
  border-bottom:none;
  background:black;
  color:#ccc;
  font-family:Microsoft YaHei;
  font-weight: 700;
  font-size: 27px;  
  border-top:none;
}
#loginin{
  width: 42%;
  position: absolute;
  margin-top: -92%;
  margin-left: 30%;
  text-align: center;
  background: orangered;
  border: none;
  color: white;
  height: 6%;
  font-size: 25px;
  font-family: Microsoft YaHei;
  display: none;
}
#login2{
  text-align: center;
  height: 169px;
  margin-top: 67%;
  width: 59%;
  margin-left: 22%;
  padding-top: 6px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
}
.login{
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  -webkit-appearance: none;
  box-sizing: border-box;
  width:87%;
  color:black;
}
#yaoqing{
  height: 40px;
  width: 37%;
  float: left;
  margin-left: 7%;
  color:#9A9A9A;
}
#shoudong{
  height: 40px;
  width: 37%;
  float: left;
  margin-left: 7%;
  color:#9A9A9A;
}
#denglu{
  height: 40px;
  width: 37%;
  margin-left: 6%;
  color: orangered;
}
#ocr{
  height: 40px;
  width: 37%;
  margin-left: 13%;
  color: #9A9A9A;
}
.logo{
  height: 40px;
  position: absolute;
  margin-top: 8px;
  margin-left: 5%;
}
.bh{
  float: right;
  font-size: 12px;
  color: orangered;
  margin-top: 19px;
  margin-right: 18px;
}
#kuaidi{
  padding: 10px;
  background-color: rgba(255,255,255,0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  width: 64%;
}
#kuaidi ul li{
  text-align:center;
  list-style-type:none
}
#kuaidi ul li img{
  height:80px;
  width:90%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.div1{
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  width: 64%;
}
.scan{
  width:100%;
  margin-top:30px
}
.phone{
  border:1px solid #9A9A9A;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  width: 80%;
  background:white;
}
.phone ul li{
  list-style-type:none
}
.div2 span{
  font-size: 20px;
  font-family: Microsoft YaHei;
  color: #9A9A9A; 
}
.div2{
  border-bottom:1.5px solid #9A9A9A;
  padding-top:3px;
}
.number li{
  height:50px;
  border-bottom:1px solid #ccc;
  color:black;
  font-size: 18px;
  padding: 15px;
}
.div3{
  border:1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  width: 80%;
  height:200px;
  font-size: 1.2em;
  font-family: Microsoft YaHei;
  color: #9A9A9A; 
  background:white;
}
.span1{
  font-size: 1.2em;
  font-family: Microsoft YaHei;
  color: green; 
}
.span2{
  font-size: 1.2em;
  font-family: Microsoft YaHei;
  color: red; 
}
#duanxin{
  width: 25%;
  text-align: center;
  background: orangered;
  border: none;
  color: white;
  font-family: Microsoft YaHei;
  margin-top: 5%;
  margin-left: 10%;
  height: 40px;
}
#app{
  width: 25%;
  text-align: center;
  background: orangered;
  border: none;
  color: white;
  font-family: Microsoft YaHei;
  margin-top: 5%;
  margin-left: 29%;
  height: 40px;
}
.div4{
  text-align:center;
  border:1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  width: 90%;
  height:200px;
  font-size: 1.2em;
  font-family: Microsoft YaHei;
  color: #9A9A9A; 
  background:white;
  border-radius: 10px;  
}
.worry{
  width: 15%;
  margin-top:5%
}
.div5{
  margin-top:70px
}
.phonefail{
  border:1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-top:1%;
  width: 90%;
  background:white;
  border-radius: 10px; 
}
.phonefail ul li{
  list-style-type:none
}
.numberfail li{
  height:50px;
  border-bottom:1px solid #ccc;
  color:red;
  font-size: 18px;
  padding: 15px;
}
#bufa{
  width: 55%;
  text-align: center;
  background: orangered;
  border: none;
  color: white;
  font-family: Microsoft YaHei;
  margin-top: 5%;
  height: 40px;
  margin-left: 22%;
}
.div6{
  text-align:center;
  border:1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 90%;
  height:200px;
  font-size: 1.2em;
  font-family: Microsoft YaHei;
  color: #9A9A9A; 
  background:white;
  border-radius: 10px;  
}
.goback{
  margin-left: 7%;
  margin-top: 5px;
  position: absolute;
}
.next{
  margin-left: 70%;
  margin-top: 5px;
  position: absolute;
}